#body {
  height: 4135px;
  width: 1402px;
  border: 2px solid black;
}

#header { /* Main header of the page */
  background-color: #423D32;
  height: 94px;
  width: auto;
}

#logo { /* Logo for Mernieks Ventspils */
  margin-left: 100px;
  margin-top: 26px;
}

#navigation {
  float: right;
  margin-top: 26px;
  display: block;
  width: 670px;
  border: 1px solid green;
}

a {
  width: 60px;
  color: #FFFFFF;
  font-size: 15px;
}

li {
  display: inline;
  padding-left: 17px;
  padding-right: 17px;
}

a:link {
    text-decoration: none;
    background-color: #423D32;
}

a:hover {
  background-color: #5C4E3F;
  width: 120px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 121px;
}

#vertical-line {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1219px;
  top: 15px;
  width: 1px;
  height: 62px;

}


                              /* Section Sakums */

#sakums {
  height: 595px;
  width: 1402px;
  background-image: url(_temp/SLIDER.jpg);
}

#section-1-div-1 {
  width: 268px;
  height: 72px;
  margin-top: 256px;
  margin-left: 183px;
  position: absolute;
  background-color: #000000;
  opacity: 0.5;
}

.section-1-p-1 {
  text-align: left;
  position: absolute;
  margin-left: 26px;
  margin-top: 0px;
  font-size: 44px;
  color: #F5F2EB;
  font-family: "Open Sans"
  /* OPACITY how can I set-up, not to propagate */
}

#section-1-div-2 {
  margin-top: 352px;
  margin-left: 183px;
  position: absolute;
  width: 408px;
  height: 100px;
  background-color: #000000;
  opacity: 0.5;
}

.section-1-p-2 {
  font-size: 24px;
  font-family: "Open Sans";
  color: #FFFFDC;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  margin-left: 26px;
  margin-top: 11px;
  width: inherit;
}

.arrow-left {
  position: absolute;
  margin-left: 101px;
  margin-top: 286px;
}

.arrow-right {
  position: absolute;
  margin-left: 1275px;
  margin-top: 286px;
}

#left-circle {
  border-style: solid;
  border-width: 1px;
  border-color: #C2B081; /* Stroke Border */
  border-radius: 50%;
  background-color: #CEBB89;
  opacity: 0.6;

  /* How to reveal this through Photoshop */
  box-shadow: -0.707px 0.707px 1px 0px rgba(15, 15, 15, 0.09);

  position: absolute;
  left: 669px;
  top: 661px;
  width: 13px;
  height: 12px;
}

#middle-circle {
  border-radius: 50%;
  background-color: rgb(206, 187, 137);

  box-shadow: -0.707px 0.707px 1px 0px rgba(15, 15, 15, 0.09);

  position: absolute;
  left: 693px;
  top: 661px;
  width: 15px;
  height: 14px;
}

#middle-fill {
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.33;
  position: absolute;

  left: 695px;
  top: 663px;
  width: 11px;
  height: 10px;
}

#right-circle {
  border-style: solid;
  border-width: 1px;
  border-color: #C2B081; /* Stroke Border */
  border-radius: 50%;
  background-color: #CEBB89;
  opacity: 0.6;

  /* How to reveal this through Photoshop */
  box-shadow: -0.707px 0.707px 1px 0px rgba(15, 15, 15, 0.09);

  position: absolute;
  left: 717px;
  top: 661px;
  width: 13px;
  height: 12px;
}


                    /* Section Pakalpojumi */

#pakalpojumi {
  width: 1402px;
  height: 3723px;
}

#section-header {
  padding-top: 56px;
  padding-bottom: 56px;
}

.pakalpojumi {
  color: #95782D;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: -287px;
  top: 707px;
  font-family: "Open Sans";
  width: 2000px;
}

.dotted-line {
  border-width: 1px;
  border-color: #63501E;
  border-style: dotted;
  height: 0px;
  margin-left: 100px;
  top: 805px;
  width: 1200px;
}

#pakalpojumi-content {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 1.5;
  height: 598px;
  margin-left: 0px;

}

.leftContent {
  float: left;
  font-size: 16px;
  color: #534C38;
  width: 400px;
  font-family: "Open Sans";
}

.test-10 {
  padding-left: 0px;
}

.centerContent {
  float: left;
  font-size: 16px;
  color: #534C38;
  width: 400px;
  font-family: "Open Sans";
}

.rightContent {
  float: left;
  font-size: 16px;
  color: #534C38;
  width: 400px;
  font-family: "Open Sans";
}

.line {
  background-color: #000000;
  opacity: 0.2;
  width: 56px;
  height: 1px;
}

#line-padding {
  padding-top: 8px;
  padding-bottom: 8px;
}

.images {
  float: left;
  padding-right: 24px;
}

.nosaukumi {
  font-size: 24px;
  color: #473A15;
  text-transform: uppercase;
}

.list {
  padding-left: 34px;
  margin-top: -20px;
}

.izcenojumi {
  color: #95782D;
  font-size: 30px;
  font-family: "Open Sans";
  width: 1400px;
  text-align: center;
}

#pakalpojumu-izcenojumi {
  /*border: 1px solid red;*/
  height: 517px;
  width: 1200px;
  margin-left: 100px;
  line-height: 1.5;
}

#topografiska-informacija {
  float: left;
  width: 568px;
  height: 400px;
  padding-right: 32px; /*Should be 32px*/
}

#izpilddokumentacija {
  float: left;
  width: 568px;
  height: 400px;
  padding-left: 32px; /*Should be 32px*/
}

.izcenojumi-paragraph {
  color: #473A15;
  font-size: 18px;
  font-family: "Open Sans";
}

.td-pakalpojums {
  font-size: 14px;
  padding-left: 13px;
  font-family: "Open Sans Semibold";
  color: #473A15;
  width: 462px;
}

.td-eur {
  font-family: "Open Sans Semibold";
  width: 84px;
  text-align: center;
}

.td-right {
  text-align: center;
  width: 84px;
  font-family: "Open Sans Semibold";
  color: #473A15;
}

.td-left {
  font-size: 14px;
  text-align: left;
  width: 462px;
  padding-left: 13px;
  font-family: "Open Sans Regular";
  color: #473A15;
}

#open-sans-light {
  font-family: "Open Sans Light";
  margin-top: 0px;
  font-size: 14px;
  color: #473A15;
}

td {
  height: 45px;
  /*border: 1px solid green;*/
}

tr:nth-child(even) {
  background: #F2EBE1;
}

tr:nth-of-type(2) {
  border-top: 1px solid;
  border-top-color: #dfd9cf;
}

tr {
  float: left;
}

#separate-left-td {
  width: 552px;
  padding-left: 13px;
  font-size: 14px;
  font-family: "Open Sans";
  font-style: italic;
  color: #473A15;
  border-top: 1px solid;
  border-top-color: #dfd9cf;
  float: left;
}

#separate-right-td {
  width: 552px;
  padding-left: 13px;
  font-size: 14px;
  font-family: "Open Sans Semibold";
  color: #473A15;
  background-color: #F2EBE1;
  border-top: 1px solid;
  border-top-color: #dfd9cf;
  height: 72px;
  vertical-align: middle;
}
