#body {
  height: 4135px;
  width: 1402px;
}

#header { /* Main header of the page */
  background-color: #423D32;
  height: 94px;
  width: auto;
}

#logo { /* Logo for Mernieks Ventspils */
  margin-left: 100px;
  margin-top: 26px;
}

#navigation {
  float: right;
  height: 45px;
  margin-top: 26px;
  display: block;
  width: 670px;
}

ul {
  list-style-type: none;
}

a {
  width: 60px;
}

li {
  display: inline;
}

a:link {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
  background-color: white;
  background-color: #5C4E3F;
  width: 120px;
}

#vertical-line {
  height: 20px;
  left: 20px;
  clear: both;
  height: 1px;
}


                              /* Section Sakums */

#sakums {
  height: 595px;
  width: 1402px;
  background-image: url(_temp/SLIDER.jpg);
}

#section-1-div-1 {
  width: 268px;
  height: 72px;
  margin-top: 256px;
  margin-left: 183px;
  position: absolute;
  text-align: center;
  font-size: 30px;
  background-color: #38332F;
  color: #FAF1C8;
}

#section-1-div-2 {
  margin-top: 352px;
  margin-left: 183px;
  position: absolute;
  width: 408px;
  height: 100px;
  background-color: black;
  font-size: 24px;
  text-align: left;
  color: #FFFFDC;
  background-color: #584632;
}

.arrow-left {
  position: absolute;
  margin-left: 101px;
  margin-top: 255px;
  font-size: 100px;
  color: #847B6E;
}

.arrow-right {
  position: absolute;
  margin-left: 1275px;
  margin-top: 255px;
  font-size: 100px;
  color: #847B6E;
}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    z-index: 200;
    color: red;
}








td {
  width: 400px;
}
